* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

/* Splash Part */
.splash {
	margin: 0 0 0 200px;
  padding: 50px 0;
	background-image: url("../images/Banner2.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
}
.splash-morse {
	margin: 0 0 0 200px;
  padding: 50px 0;
	background-image: url("../images/morse.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
}
h1 {
	font-size: 50px;
	font-weight: 400;
}

/* Side Menu */
.menu.no-mobile {
	position: fixed;
	height: 100%;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 200px;
	background-color: black;
	border: 2.5px solid black;
	text-align: center;
	color: white;
}
li {
	display: block;
	height: 50px;
	width: 200px;
}
li a {
		display: block;
		width: 186px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 15px 0;
    font-weight: 300;
     border-right: 10px solid #0000d2;
}
li a:hover {
	background-color: #0000d2;
}
li a.active {
	background-color: white;
	color: black;
}
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}
#logo {
	width: 143px;
	height: 143px;
	transition: 1s;
	background-color: black;
	border-radius: 0;
}
#logo:hover {
	background-color: white;
	border: 0px solid black;
	border-radius: 70px;
}
h3 {
	color: white;
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 700;
}

/* Main Content */
.container {
	margin: 0 0 0 200px;
	padding: 50px 100px;
}
h2 {
	font-weight: 700;
	margin-bottom:15px;
}
p {
	font-weight: 400;
	font-size: 20px;
}
button {
	margin: 15px 0 0 0;
	padding: 5px 10px;
	border: 0px solid black;
	border-radius: 5px;
	font-weight: 400;
	font-size: 20px;
	background-color: #0000ff;
	cursor: pointer;
	transition: 0.5s;
}
button:hover {
	background-color: #0000d2;
	box-shadow: 2px 2px black;
}
button a {
	color: white;
	text-decoration: none;
}

/* Flex Content */
.flex-parent {
	margin: 0 0 0 200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flex-card {
	width: 150px;
	height: 100px;
	border: 1px solid black;
	border-radius: 35px;
	background-color: #000000;
	margin: 0 15px;
	text-align: center;
	color: white;
}
.flex-card h2 {
	margin: 5px;
}
.flex-card p {
	margin: 0 2.5px;
	font-size: 20px;
}
.card-image {
	width: 150px;
	height: 100px;
	border-radius: 35px;
}

.mobile-only {
	display: none;
}
