
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.no-mobile {
	display: none;
}
.mobile-only {
	display: static;
}
.splash {
	margin: 0;
  padding: 25px 0 0 0;
	background-image: url("../images/Banner2.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
}
.menu {
	position: static;
	box-sizing: border-box;
	background-color: black;
	border: 2.5px solid black;
	text-align: center;
	color: white;
}
h3 {
	margin: 0 0 10px 0;
	font-size: 50px;
}
#logo {
	width: 100px;
	height: 100px;
	margin: 10px 0 0 0;
	background-color: black;
	border-radius: 50px;
}
#active-logo {
	width: 100px;
	height: 100px;
	margin: 10px 0 0 0;
	background-color: white;
	border-radius: 50px;
}
.container {
	padding: 40px 80px;
}
p {
	font-size: 20px;
	font-weight: 700;
}
button {
	margin: 15px 0;
	padding: 5px 10px;
	border: 0px solid black;
	border-radius: 5px;
	font-weight: 700;
	font-size: 20px;
	background-color: #0000ff;
	cursor: pointer;
}
button a {
	color: white;
	text-decoration: none;
}
table {
	background-color: #000000;
	margin-top: 15px;
}
td {
	padding: 15px 0;
	text-decoration: none;
	color: white;
	font-weight: 700;
	cursor: pointer;
	width: 33.3%;
}
td.active {
	background-color: #0000d2;
}